@import 'home/home.css';
@import 'login/login.css';
@import 'navbar.css';

@import 'components/food-card.css';

:root {

    /* --background: #FFF9F0; */
    --white: #FFFFFF;
    --cream-white: #fafae7;
    --bk-dim: #ECEDEE;
    
    /* --core: #79bc58; */
    --core: #70ab55;
    --secondary: #04550d;
    /* --secondary: #aacc8f; */
    /* --highlight: #E03C3C; */
    --highlight: #d15a4c;
    /* --button: #FFD93B; */
    --button: #ffe76e;


    /* #ee9f9c */

    /* --core-text-color: #6DBE45; */
}

body {
    margin: 0;
    /* background-color: var(--white); */
    background-color: var(--cream-white);

    font-family: "Acme", sans-serif;
}

footer {
    background-color: var(--secondary);
}

h1 {
    color: var(--white);
}

.btn-add {
    background: var(--button);
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
}
.btn-add:hover {
    background: var(--highlight);
}

.simple-link {
    text-decoration: none;
    color: var(--core);
    transition: color 0.5s;
    font-size: 1.2rem;

}
.simple-link.light {
    color: var(--white);
}
.simple-link:hover{
    color: var(--highlight);
}

.desc-text {
    margin: 0;
    font-size: 0.9rem;
}

.text-disable {
    display: none;
}

.text-error {
    color: red;
}

.curr-page-link {
    color: var(--highlight);
}


.d-none {
    display: none;
}


.b-shadow {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}