<header id="nav-header">
    <a class="nav-logo-link" href="/">
        <div style="display: flex; align-items: center;">
            <img src="/images/logo.png" alt="diet app logo" width="70px">
            <p class="logo-name">CalorieTrack</p>
        </div>
    </a>
    <nav>
        <ul>
            <li><a class="simple-link home-link" href="/">home</a></li>
            <li><a class="simple-link login-link" href="/login">login</a></li>
            <li><a class="simple-link signup-link" href="/sign-up">signup</a></li>
        </ul>
    </nav>
</header>